<div class="container">
    {{#each received}}
    <div class="media">
  <a href="/startChat/{{sender._id}}">
  <img class="mr-3" src="{{sender.image}}" width="64px" alt="Generic placeholder image">
  </a>
  <div class="media-body">
    <a href="/startChat/{{sender._id}}">
    <h5 class="mt-0">{{sender.fullname}}</h5>
    </a>
    {{#if receiverRead}}
    <h5><i class="fa fa-envelope-open-o"></i></h5>
    {{else}}
    <h5><i class="fa fa-envelope"></i></h5>
    {{/if}}
    <small>{{getLastMoment date 'hour'}}</small>

    <a href="/deleteChat/{{_id}}">
    <h5 class="right"><i class="fa fa-trash"></i></h5>
    </a>
  </div>
</div>
 <hr>
 {{else}}
 <p>No chat found..</p>
    {{/each}}
  
    {{#each sent}}
      <div class="media">
   <a href="/startChat/{{receiver._id}}">
  <img class="mr-3" src="{{receiver.image}}" width="64px" alt="Generic placeholder image">
   </a>
  <div class="media-body">
    <a href="/startChat/{{receiver._id}}">
    <h5 class="mt-0">{{receiver.fullname}}</h5>
    </a>
    {{#if senderRead}}
    <h5><i class="fa fa-envelope-open-o"></i></h5>
     {{else}}
    <h5><i class="fa fa-envelope"></i></h5>
    {{/if}}
    <small>{{getLastMoment date 'hour'}}</small>

     <a href="/deleteChat/{{_id}}">
    <h5 class="right"><i class="fa fa-trash"></i></h5>
    </a>
  </div>
</div>
 <hr>
     {{/each}}
    
</div>